# 데이터프레임
* FinanceDataReader에서 제공하는 10년치 입력 종목의 주가(OHLC)와 지수들 함수

In [ ]:
pip install -U finance-datareader

Collecting finance-datareader
  Downloading https://files.pythonhosted.org/packages/ce/97/914f9c07de0edad6c1df84f0ee778b4fb5985d862eecf95a0ba3600ac109/finance_datareader-0.9.12-py3-none-any.whl
Requirement already satisfied, skipping upgrade: tqdm in /usr/local/lib/python3.6/dist-packages (from finance-datareader) (4.41.1)
Requirement already satisfied, skipping upgrade: pandas>=0.19.2 in /usr/local/lib/python3.6/dist-packages (from finance-datareader) (1.1.5)
Requirement already satisfied, skipping upgrade: lxml in /usr/local/lib/python3.6/dist-packages (from finance-datareader) (4.2.6)
Collecting requests-file
  Downloading https://files.pythonhosted.org/packages/77/86/cdb5e8eaed90796aa83a6d9f75cfbd37af553c47a291cd47bc410ef9bdb2/requests_file-1.5.1-py2.py3-none-any.whl
Requirement already satisfied, skipping upgrade: requests>=2.3.0 in /usr/local/lib/python3.6/dist-packages (from finance-datareader) (2.23.0)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19.2->finance-datareader) (2018.9)
Requirement already satisfied, skipping upgrade: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19.2->finance-datareader) (1.19.4)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19.2->finance-datareader) (2.8.1)
Requirement already satisfied, skipping upgrade: six in /usr/local/lib/python3.6/dist-packages (from requests-file->finance-datareader) (1.15.0)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->finance-datareader) (2020.12.5)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->finance-datareader) (3.0.4)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->finance-datareader) (1.24.3)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->finance-datareader) (2.10)
Installing collected packages: requests-file, finance-datareader
Successfully installed finance-datareader-0.9.12 requests-file-1.5.1

In [ ]:
pip install --upgrade finance-datareader

Requirement already up-to-date: finance-datareader in /usr/local/lib/python3.6/dist-packages (0.9.12)
Requirement already satisfied, skipping upgrade: requests>=2.3.0 in /usr/local/lib/python3.6/dist-packages (from finance-datareader) (2.23.0)
Requirement already satisfied, skipping upgrade: pandas>=0.19.2 in /usr/local/lib/python3.6/dist-packages (from finance-datareader) (1.1.5)
Requirement already satisfied, skipping upgrade: tqdm in /usr/local/lib/python3.6/dist-packages (from finance-datareader) (4.41.1)
Requirement already satisfied, skipping upgrade: requests-file in /usr/local/lib/python3.6/dist-packages (from finance-datareader) (1.5.1)
Requirement already satisfied, skipping upgrade: lxml in /usr/local/lib/python3.6/dist-packages (from finance-datareader) (4.2.6)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->finance-datareader) (1.24.3)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->finance-datareader) (2020.12.5)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->finance-datareader) (3.0.4)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->finance-datareader) (2.10)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19.2->finance-datareader) (2018.9)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19.2->finance-datareader) (2.8.1)
Requirement already satisfied, skipping upgrade: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19.2->finance-datareader) (1.19.4)
Requirement already satisfied, skipping upgrade: six in /usr/local/lib/python3.6/dist-packages (from requests-file->finance-datareader) (1.15.0)

In [ ]:
from pandas_datareader import data
import pandas as pd

In [ ]:
import FinanceDataReader as fdr

In [ ]:
def GET_DATA(code, date):
  COMPANY = fdr.DataReader(code, date) #입력 종목에대해 2010년 이후 데이터 가져옴.
  #COMPANY = COMPANY.drop(['Open','High','Low', 'Change','Volume'], axis=1)  # close만 가져온다
  #COMPANY.columns = [code + '_Close']
  COMPANY.columns = [code +'_O',code +'_H',code +'_L',code +'_C',code +'_V',code +'_C']

  KOSPI = fdr.DataReader('KS11', date) #코스피지수
  KOSPI = KOSPI.drop(['Open','High','Low', 'Change','Volume'], axis=1) # close만 가져온다
  KOSPI.columns = ['KOSPI']

  KOSDAQ = fdr.DataReader('KQ11', date) #코스닥지수
  KOSDAQ = KOSDAQ.drop(['Open','High','Low', 'Change','Volume'], axis=1) # close만 가져온다
  KOSDAQ.columns = ['KOSDAQ']

  DJI = fdr.DataReader('DJI', date)  # 다우지수
  DJI = DJI.drop(['Open','High','Low', 'Change','Volume'], axis=1) # close만 가져온다
  DJI.columns = ['DJI']

  SP500 = fdr.DataReader('US500', '2015-01-01') # S&P 500 지수 (NYSE)
  SP500 = SP500.drop(['Open','High','Low', 'Change','Volume'], axis=1) # close만 가져온다
  SP500.columns = ['SP500']

  GOLD = fdr.DataReader('ZG', date) # 금 선물
  GOLD = GOLD.drop(['Open','High','Low', 'Change','Volume'], axis=1) # close만 가져온다
  GOLD.columns = ['GOLD']

  USD_KRW = fdr.DataReader('USD/KRW', date) #환율
  USD_KRW = USD_KRW.drop(['Open','High','Low', 'Change'], axis=1)  # close만 가져온다
  USD_KRW.columns = ['USD_KRW']

  # M2 통화량
  # NASDAQCOM 나스닥종합지수
  # HSN1F 주택판매지수
  OTHERS = fdr.DataReader(['M2', 'NASDAQCOM', 'HSN1F'], date, data_source='fred')

  #가져온 지표들을 date의 index대로 합친다. 해당 일자에 없는 데이터는 NaN
  df = pd.concat([COMPANY, KOSPI,KOSDAQ, DJI, SP500, GOLD,USD_KRW, OTHERS],axis=1)
  return df

In [ ]:
date = '2010' #디폴트 2010년 이후부터 오늘까지 데이터
code = input("회사종목 입력") 
if code is None or code == '' :
      print("종목입력 없으면 삼성전자 수행")
      code = '005930'
df = GET_DATA(code, date)
df

회사종목 입력005930

            005930_O  005930_H  005930_L  ...  NASDAQCOM  HSN1F       M2
2010-01-01       NaN       NaN       NaN  ...        NaN  345.0      NaN
2010-01-04   16060.0   16180.0   16000.0  ...    2308.42  345.0   8438.7
2010-01-05   16520.0   16580.0   16300.0  ...    2308.71  345.0   8438.7
2010-01-06   16580.0   16820.0   16520.0  ...    2301.09  345.0   8438.7
2010-01-07   16820.0   16820.0   16260.0  ...    2300.05  345.0   8438.7
...              ...       ...       ...  ...        ...    ...      ...
2020-12-21   73100.0   73400.0   72000.0  ...   12742.52  841.0  19226.1
2020-12-22   72500.0   73200.0   72100.0  ...   12807.92  841.0  19226.1
2020-12-23   72400.0   74000.0   72300.0  ...   12771.11  841.0  19226.1
2020-12-24   74100.0   78800.0   74000.0  ...   12804.73  841.0  19226.1
2020-12-25       NaN       NaN       NaN  ...        NaN    NaN      NaN

[2904 rows x 15 columns]